:root {
  --Iphone-notch: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  --clr-dark-1: hsl(216 18% 16%);
  --clr-dark-2: hsl(217 10% 25%);
  --clr-white: hsl(0 0% 93%);
  --ff-main: "Aboreto", cursive;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  padding: var(--Iphone-notch);
  background-color: var(--clr-dark-2);
  font-size: 1.125rem;
  font-family: var(--ff-main);
}

.padding {
  padding: 1em;
}

h1 {
  color: var(--clr-dark-1);
  line-height: 1.1;
  font-size: clamp(2em, 5vw + 1rem, 4rem);
  text-align: center;
}

hr {
  border: none;
  border-top: 2px solid var(--clr-white);
  width: 100%;
}

section {
  background-color: var(--clr-dark-2);
  color: var(--clr-white);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 80%;
  margin-inline: auto;
}

.email {
  outline: none;
  border: 1px solid var(--clr-dark-2);
  border-radius: 0.35rem;
  padding: 0.35em 1.5em;
}

button {
  border: none;
  border-radius: 0.35rem;
  background-color: var(--clr-dark-1);
  color: var(--clr-white);
  padding: 0.35em 1.5em;
}

a {
  transition: transform 250ms linear;
}

.grid {
  display: grid;

  place-items: center;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

@media (hover: hover) {
  a:hover,
  a:focus-visible {
    transform: scale(1.1);
  }
}

@media (min-width: 40em) {
  .grid > * {
    max-width: 20rem;
  }
}
