body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: blueviolet;
  /* min-height: 100vh; */
}

div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: hsl(0, 0%, 100%);
  font-size: clamp(1.5rem, 5vw + 1rem, 3rem);
}
